body {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-size: 20px;
}

#ingredients ul {
    list-style-type: none;
}

h1{
    font-size: 3em;
    text-transform: uppercase;
}